:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

:host {
  .NgxEditor__MenuBar {
    color: #000 !important;
  }
  .NgxEditor__MenuBar {
    color: #000 !important;
  }
  .bg-black {
    color: #fff !important;
    background-color: #000 !important;
  }
  .angular-editor-toolbar-set {
    button {
      color: #000 !important;
    }
  }
}
.angular-editor-toolbar-set {
  button {
    color: #000 !important;
  }
}
